<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Group</h1>
                <div class="alert alert-info" role="alert" ng-show="alert">{{alert}}</div>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="group.name" />
                </div>
                <hr />
                <button class="btn btn-default" ng-click="save()">Save</button>
                <hr />
                <button class="btn btn-default" ng-click="delete()">Leave this group</button>
            </div>
        </div>
    </div>
</section>