<section id="content">
    <div class="container status-container">
        <div class="row group-name-row">
            <div class="col-xs-12">
                <h3>{{group.name}}</h3>
            </div>
        </div>
        <div class="row user-row" ng-repeat="member in group.members" ng-click="reload()">
            <div class="col-xs-12 user-col">
                <div class="user-city-info" ng-style="member.cityName && {'background-image':'url(/resources/'+member.cityName.toLowerCase()+'.jpg)'}">
                    <p class="user-name">{{member.name}}</p>
                    <p>{{member.cityName}}</p>
                    <p>{{member.day}}</p>
                    <p>{{member.time}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="new-status-box" ng-show="!isSendingStatus">
                    <form ng-submit="submitNewStatus()">
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="newStatusText" placeholder="What am I doing?" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">Ya2</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <label>
                        <input type="checkbox" ng-model="displayMyStatuses"> Show mine
                    </label>
                    <label>
                        <input type="checkbox" ng-model="displaySortByDay" ng-change="changeSort()"> Show by day
                    </label>
                </div>
                <div class="send-status-box text-center" ng-show="isSendingStatus">
                    Sending...
                </div>
                <div class="reload-status-box text-center" ng-show="isLoading">
                    Refreshing...
                </div>
                <div class="status-box" ng-repeat="status in statuses" ng-show="!status.isCreatedByUser || displayMyStatuses">
                    <div ng-class="{'status-text': true, 'my-status-text': status.isCreatedByUser}" dir="{{status.isRtl ? 'rtl' : 'ltr'}}">
                        {{status.text}}
                        <div class="status-date" ng-click="status.dateIndex = (status.dateIndex + 1) % status.formattedDates.length">
                            <hr />
                            {{status.formattedDates[status.dateIndex]}}
                        </div>
                        <div class="status-edit-menu" ng-show="status.isCreatedByUser">
                            <hr/>
                            <a ng-href="/#EditStatus/{{status.id}}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>