body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.status-date {
    color: grey;
    width: 100%;
}

.status-text {
    width: 100%;
    border-radius: 0px;
    color: black;
    padding: 10px 0;
    word-wrap: break-word;
}

.new-status-box {
    margin-bottom: 10px;
}

.my-status-text {
}

.status-creator-name {
    font-weight: bold;
}

.status-box {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 10px solid;
    border-left: 1px solid;
}

.send-status-box, .reload-status-box {
    background-image: url(/Resources/spinner.gif);
    background-repeat: no-repeat;
    height: 50px;
    width: 150px;
    margin: 0 auto;
}

.ng-view-loading {
    width: 150px;
    height: 50px;
    margin: 20px auto;
    background-image: url(/Resources/spinner.gif);
    background-repeat: no-repeat;
}

.group-name-row {
    margin-bottom: 10px;
}

.user-row {
    margin-bottom: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.user-name-col {
    font-weight: bold;
}

.user-city-info p {
    color: white;
    margin: 0 0 0 5px;
}

.user-city-info .user-name {
    font-weight: bold;
    margin: 5px 0 0 5px;
}

.heart {
    font-size: 40px;
    z-index: 3;
    top: 69px;
    position: absolute;
}

.status-container {
    position: relative;
}

.status-text hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.status-edit-menu a {
    color: blue;
}

.status-edit-textarea {
    width: 100%;
    max-width: 600px;
}

.new-group-link-row {
    margin: 10px 0;
}

.group-list-item-row {
    font-size: larger;
    margin: 10px 0;
    border: 1px solid black;
    padding: 10px;
}

/* Not designed for larger screen sizes!*/
@media screen and (min-width: 620px) {
    .status-container {
        width: 600px;
        margin: auto;
    }
}